*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: white;
  width: 95vw;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 12px 12px 0 0;

  h1 {
    margin: 0;
    padding: 1em;
    font-size: 45px;
    font-family: 'Lucida Console', sans-serif;
    font-weight: 100;
    overflow-x: auto;
  }
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.calculator-buttons {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 200;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(216, 216, 216);

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}

.operator {
  background: grey;
  color: white;
  font-weight: 400;
  font-size: 2rem;
}

.operator[value='%'] {
  font-size: 1.3rem;
}
.clear,
button[value='0'] {
  grid-column: span 2;
}

.equal-sign {
  background: #07fcdf;
  color: black;
}

.clear {
  background: rgb(233, 44, 44);
  color: white;
}
